/* Add styles for the modal content */
.modal-content {
  background-color: #fff; /* White background */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Box shadow for a floating effect */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001; /* Ensure the modal content appears on top of the inputs */
  width: 500px; /* Set a fixed width */
  height: 690px;
}

/* Add styles for the backdrop */
.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.deal-name,
.deal-dow,
.deal-desc {
  margin: 20px;
  padding: 8px;
  width: 85%;
  padding: 10px;
  padding-right: 0;
  margin: 10px;
  margin-left: 0;
  margin-right: 0;
  border: none;
  border-bottom: 1px solid rgb(226, 226, 226);
  border-radius: 3px;
  font-size: 16px;
  background-color: #f0f0f0;
  color: #333;
}

.deal-start-time,
.deal-end-time,
.deal-start-date,
.deal-end-date {
  margin: 10px;
  margin-left: 0;
  margin-right: 0;
  padding: 8px;
  width: 40%;
}

.deal-desc {
  margin: 10px;
  margin-left: 0;
  margin-right: 0;
  padding: 8px;
  width: 85%;
  height: 80px; /* Adjust the height as needed */
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

.save-button {
  position: relative;
  width: 100px;
  margin-left: 20px;
  background-color: transparent;
  border-radius: 20px;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  border: 1px solid black;
  padding: 4px;
  background-color: #f9f9f9;
  transition: 0.5s;
  margin-top: 10px;
  padding-left: 20px;
}

.save-button:hover {
  background: linear-gradient(159deg, rgba(243, 255, 93, 1) 0%, rgba(249, 181, 79, 1) 65%, rgba(255, 196, 0, 1) 100%);
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.save-icon {
  position: absolute;
  top: 691px;
  left: 63px;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.discard-button {
  position: relative;
  width: 100px;
  margin-left: 20px;
  background-color: transparent;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  padding: 4px;
  background-color: transparent;
  transition: 0.5s;
  margin-left: 245px;
  border: none;
  border-radius: 5px;
  padding-left: 20px;
}

.discard-button:hover {
  background-color: lightgray;
}

.discard-icon {
  position: absolute;
  top: 691px;
  right: 121px;
  transform: translate(-50%, -50%);
  z-index: 3;
}
