.deal-box {
    outline: 1px solid black;
    outline-style: solid;
    background-color: rgb(255, 255, 255);
    margin: 40px;
    padding-top: 2%;
    padding-left: none;
    border-radius: 5px;
    overflow-y: auto; /* Add this line */
    height: 50vh; /* Add this line */
    display: flex;
  }
  
  .deal {
    display: block;
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid black; /* Add this line */
    font-size: small;
  }

  .deal:not(:last-child) {
    border-bottom: 1px solid black;
  }

  .deal-button {
    width: 90%;
    text-align: left;
    cursor: pointer;
    background-color: white;
    border: none;
    /* border-radius: 5px; */
    transition: 0.3s;
    border-bottom: 1px solid lightgray;
    padding: 15px;
    margin-left: 0;
  }

  .deal-button:hover {
    background-color: lightgray;
  }

  .deal-list {
    flex: 1;
    margin-left: 0;
  }

  .deal-details {
    flex: 1;
    border-left: 1px solid gray;
    padding: 5ps;
  }

  .deal-box-deal-name, 
  .deal-box-deal-dow, 
  .deal-box-deal-desc,
  .deal-box-deal-startdate,
  .deal-box-deal-enddate,
  .deal-box-deal-starttime,
  .deal-box-deal-endtime
  {
    padding: 10px;
    text-align: left;
  }
  
  .deal-box-deal-startdate,
  .deal-box-deal-enddate,
  .deal-box-deal-starttime,
  .deal-box-deal-endtime
  {
    text-align: left;
  }

  .edit-deal-button {
    border-radius: 25px;
    cursor: pointer;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 15px;
    margin-right: 10px;
    background-color: transparent;
    border: 1px solid;
  }

  .edit-deal-button:hover {
    background-color: rgb(255, 191, 0);
    border: 1px solid black;
  }

  .delete-deal-button {
    border-radius: 25px;
    cursor: pointer;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 15px;
    margin-left: 10px;
    background-color: transparent;
    border: 1px solid;
  }

  .delete-deal-button:hover {
    background-color: rgb(255, 72, 0);
    border: 1px solid black;
  }

  .save-edit-button {
    border-radius: 25px;
    cursor: pointer;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 15px;
    background-color: transparent;
    border: 1px solid lightgray;
    position: relative;
  }

  .save-edit-button:hover {
    background-color: rgb(255, 191, 0);
    border: 1px solid lightgray;
  }

  .cancel-edit-button {
    border-radius: 25px;
    cursor: pointer;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 15px;
    margin-top: 10px;
    background-color: transparent;
    border: 1px solid lightgray;
    position: relative;
    }

  .cancel-edit-button:hover {
    background-color: rgb(233, 231, 231);
    border: 1px solid lightgray;
  }

  .deal-details input {
    margin-bottom: 10px; /* Add this line to create space between input fields */
    width: 100%; /* Set the width to 100% to ensure each input field takes a new line */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
  }
  
  /* Additional styles for specific input fields */
  .deal-details input[type="datetime-local"] {
    width: 43%; /* Adjust the width for date and time input fields */
    margin: 4px;
  }
  
  .deal-details input[type="text"] {
    width: 90%; /* Full width for text input fields */
  }
  
  /* Add styles for the Save and Cancel buttons */
  .deal-details .save-edit-button,
  .deal-details .cancel-edit-button {
    border-radius: 25px;
    cursor: pointer;
    padding: 5px;
    margin-right: 10px;
    background-color: transparent;
    border: 1px solid rgb(103, 103, 103);
  }
  
  .deal-details .save-edit-button:hover,
  .deal-details .cancel-edit-button:hover {
    background-color: rgb(255, 191, 0);
    border: 1px solid rgb(103, 103, 103);
  }

  .delete-confirmation-modal {
    background-color: #fff; /* White background */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Box shadow for a floating effect */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001; /* Ensure the modal content appears on top of the inputs */
    width: 20%px; /* Set a fixed width */
    height: 5%;
  }

  .no-delete-button {
    border-radius: 25px;
    cursor: pointer;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 15px;
    margin-left: 80px;
    margin-top: 10px;
    background-color: transparent;
    border: 1px solid;
  }

  .yes-delete-button {
    border-radius: 25px;
    cursor: pointer;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 15px;
    margin-right: 80px;
    background-color: transparent;
    border: 1px solid;
  }

  .yes-delete-button:hover {
      background-color: lightgray;
  }

  .no-delete-button:hover {
    background-color: lightgray;
  }