.deal-box {
    outline: 1px solid black;
    outline-style: solid;
    background-color: rgb(255, 255, 255);
    margin: 40px;
    padding-top: 2%;
    padding-left: none;
    border-radius: 5px;
    overflow-y: auto; /* Add this line */
    height: 50vh; /* Add this line */
    display: flex;
  }
  
  .deal {
    display: block;
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid black; /* Add this line */
    font-size: small;
  }

  .deal:not(:last-child) {
    border-bottom: 1px solid black;
  }

  .deal-button {
    width: 90%;
    text-align: left;
    cursor: pointer;
    background-color: white;
    border: none;
    /* border-radius: 5px; */
    transition: 0.3s;
    border-bottom: 1px solid lightgray;
    padding: 15px;
    margin-left: 0;
  }

  .deal-button:hover {
    background-color: lightgray;
  }

  .deal-list {
    flex: 1;
    margin-left: 0;
  }

  .deal-details {
    flex: 1;
    border-left: 1px solid gray;
    padding: 5ps;
  }

  .deal-box-deal-name, 
  .deal-box-deal-dow, 
  .deal-box-deal-desc,
  .deal-box-deal-startdate,
  .deal-box-deal-enddate,
  .deal-box-deal-starttime,
  .deal-box-deal-endtime
  {
    padding: 10px;
    text-align: left;
  }
  
  .deal-box-deal-startdate,
  .deal-box-deal-enddate,
  .deal-box-deal-starttime,
  .deal-box-deal-endtime
  {
    text-align: left;
  }