/* Footer.css */
.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);    color: #fff;
    padding: 5px 0;
    text-align: center;
  }
  
  .footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: small;
  }
  
  .copyright {
    margin-top: 10px;
    font-size: small;
  }
  

  