/* Home.css */

/* Header layer */
.home {
  text-align: center;
  padding: 20px;
  position: absolute; /* Add this line */
  z-index: 2; /* Add this line to ensure the header is on top */
}

.home h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
  text-align: left;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

.home p {
  font-size: 1rem;
  line-height: 1.4;
  color: #666;
  max-width: 1000px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  text-align: left;
  z-index: 3;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .home h1 {
    font-size: 1.5rem;
  }

  .home p {
    font-size: 0.9rem;
  }
}

/* Define the transition effect */
.transition-effect {
  opacity: 1;
  transform: translateY(-10px);
  transition: opacity 1.2s ease, transform 1.2s ease;
}

/* Define the class to make the component visible */
.visible {
  opacity: 0;
  transform: translateY(0);
}

.main-img {
  position: relative;
  width: 100%; /* Add this to make sure the image covers the container */
  opacity: 0.3;
  margin-top: 0;
  bottom: 100px;
}

.logo-img-home {
  position: relative;
  z-index: 3;
  width: 70%;
  top: 50px;
}

.main-img-container {
  position: absolute;
  top: 0;
  margin-top: 0px;
  width: 100%;
}

.main-text-home {
  position: relative;
  margin-top: 400px;
}

.mmbutton {
  color: white;
}
 
.discover-deals-button-left {
  position: relative;

  top: 200px;
  width: 600px;
  padding: 30px;
  border: none;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  font-weight: 700;
  background: transparent; /* Initial state: transparent background */
  color: #ffffff;
  cursor: pointer;
  z-index: 5;
  transition: background 1.5s ease, box-shadow 0.5s ease; /* Apply transition to background and box shadow */
}

.discover-deals-button-left:hover {
  background: linear-gradient(159deg, rgba(243, 255, 93, 1) 0%, rgba(249, 181, 79, 1) 65%, rgba(255, 196, 0, 1) 100%);
  box-shadow: 2px 2px 20px 2px;
}

.cookie-popup {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  flex-wrap: wrap;
}

.cookie-popup p {
  margin: 0;
  max-width: 70%;
}

.button-group {
  display: flex;
  justify-content: space-between;
  max-width: 200px; /* Adjust as needed */
}

.cookie-popup button {
  margin-left: 10px;
  padding: 10px 20px;
  border: none;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

.cookie-popup button:hover {
  background-color: #45a049;
}

.cookie-popup button:last-child {
  background-color: #f44336;
}

.cookie-popup button:last-child:hover {
  background-color: #da190b;
}


/* 
.discover-deals-button-right {
  position: relative;
  margin-left: 25px;
  top: 200px;
  width: 200px;
  padding:30px;
  border: 1px solid #fcde58;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;  
  font-size: 18px;
  font-weight: 700;
  background: linear-gradient(159deg, rgba(243,255,93,1) 0%, rgba(249,181,79,1) 65%, rgba(255,196,0,1) 100%);
  color: #ffffff;
  cursor: pointer;
  box-shadow: 1px 1px 5px 1px #fcde58;
  z-index: 5;
} */

/* Fade in POs */
/* ----You need to decide if you really want this */

/* .fade-in-image {
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}

.poi-1 {
  position: relative;
  width: 50px;
  z-index: 1;
  top: 30px;
}

.poi-2 {
  position: relative;
  width: 50px;
  z-index: 1;
  left: 700px;
  bottom: -20px;
}

.poi-3 {
  position: relative;
  width: 50px;
  z-index: 1;
  right: 500px;
  bottom: -20px;
}

.poi-4 {
  position: relative;
  width: 50px;
  z-index: 1;
  right: 200px;
  top: -500px;
  left: 50px;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
} */



