/* Home.css */
.home {
    text-align: center;
    padding: 20px;
  }
  
  .home h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
    text-align: left;
    font-family: 'Poppins', sans-serif;  
    font-weight: 700;
  }
  
  .home p {
    font-size: 1rem;
    line-height: 1.4;
    color: #666;
    max-width: 1000px;
    font-family: 'Poppins', sans-serif;  
    font-weight: 500;
    text-align: left;
  }
  
  
  /* Media query for smaller screens */
  @media (max-width: 768px) {
    .home h1 {
      font-size: 1.5rem;
    }
  
    .home p {
      font-size: 0.9rem;
    }
  }

    /* Define the transition effect */
    .transition-effect {
      opacity: 1;
      transform: translateY(-10px);
      transition: opacity 1.2s ease, transform 1.2s ease;
    }
    
    /* Define the class to make the component visible */
    .visible {
      opacity: 0;
      transform: translateY(0);
    }
  