.search-container {
  position: relative;
  z-index: 2;
  bottom: -200px;
  transition: transform 1.5s ease, opacity 0.5s ease;
}

.expanded {
  transform: translateY(1000%);
  opacity: 1;
}

/* Add any additional styling for the search container here */
