.search-container {
    position: relative;
    z-index: 2;
    bottom: -170px;
  }

  .search {
    left: 400px;
  }

  .search-icon{
    position: relative;
    left: 10px;
    top: 50px;
    color: lightgray;
    width: 23px;
    }

  .location-icon {
    position: relative;
    right: 3.5%;
    top: 10px;
    color: lightgray;
    width: 35px;
    cursor: pointer;
  }