.search-container {
  position: relative;
  z-index: 8;
  bottom: -280px;
  transition: transform 1.5s ease, opacity 0.5s ease;
}

.expanded {
  transform: translateY(-500%);
  opacity: 1;
}

/* Add any additional styling for the search container here */
.location-icon {
  position: absolute;
  right: 11.2%;
  top: 50%;
  transform: translateY(-50%);
  color: lightgray;
  width: 32px;
  cursor: pointer;
}

.search-dropdown {
  position: absolute;
  top: 100%;
  left: 10%;
  width: 80%;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.search-dropdown div {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-dropdown div:hover {
  background-color: #f5f5f5;
}