  /* Define the transition effect */
  .transition-effect {
    opacity: 1.1;
    transform: translateY(-10px);
    transition: opacity 1.2s ease, transform 1.2s ease;
  }
  
  /* Define the class to make the component visible */
  .visible {
    opacity: 0;
    transform: translateY(0);
  }

  .sign-out-button {
    background-color: transparent;
    padding: 7px;
    border-radius: 20px;
    cursor: pointer;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
  }

  .sign-out-button:hover {
    background-color: lightgray;
  }
  