  /* Define the transition effect */
  .transition-effect {
    opacity: 1.1;
    transform: translateY(-10px);
    transition: opacity 1.2s ease, transform 1.2s ease;
  }
  
  /* Define the class to make the component visible */
  .visible {
    opacity: 0;
    transform: translateY(0);
  }